*{
  box-sizing: border-box
}

body{
   width: 100%;
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
}

 .carts {
  float: right;
  margin-right: 4rem;
  font-size: 2rem;

}

.shopping-items{
   width: 100%; 
}
.shopping-items , .link-nav {
   margin: 1rem;
} 
 
 a{
  font-size: 1.3rem !important;
   margin-top: 2px;
   text-decoration: none;
}

a i{
  font-size: 1.6rem;
}

a i:hover{
  color: palevioletred;
  font-size: 2rem;
}

.left { 
  /* margin-top: 4rem; */
  float: left;
  margin-left: 1rem;
  display: block;
   width: 300px;
   height: 500px;
   background: black;
}

.left:after{
  content: "";
  clear: both;
  display: table;
}

.main{
  margin-bottom: 0;
  padding: 0;
}

.main-screen{
  margin-left:1rem;
  float: left;
  display: block;
  width: 70%;
  height: 500px;
  background-color:white;
  box-shadow: 2px 4px 8px 1px #CCC;
  z-index: 1000;
  overflow-y: scroll;
}

.modal-body, .add-new{
  overflow-y:hidden;
}


.brandname, .shoeBrand, .shoeSize{
   margin: 2rem  auto;
   display: block;
  width: 260px !important;
}

.search-btn{
  margin: 2rem auto;
  display: block;
  width: 200px;
}

.my_card{
   display: flex;
   flex-flow: row wrap;
   border-radius: 20px;
  
}

.displayArea{
  background-color: white;
   /* width: 18rem;  */
   margin-left: 10px;
   display: block;
   float: left;
   
}

.shoes-left{
  background-color: white; 
  box-shadow: 0 4px 8px 0 #CCC;
  width:200px; 
  margin-left:2rem;
  margin-top: 2px;
  margin-bottom: 2px;
 
}

table{
  margin: 2rem;
  
}


 td {
  padding: 5px;
  text-align: left;    
}

.btn-cart{
   color: #007bff;
  padding: 5px;
  text-align: center;
   display: block; 
}

.btn-cart i:hover{
  font-size: 2rem;
  color: green;
}


.modal {
  position: absolute !important;
  right: 12px;
  top: 50px;

}

.modal-body{
  overflow-y: scroll;
   overflow: hidden;
  width: 500px;
  max-height: 200px; 
}

.shoeColor,.shoebrand, .shoeQty , .shoePrice ,.shoesize{
  margin: 1rem auto;
  width: 80%;
}

.message{
  margin: 0 auto;
  display: block;
  width: 80%;
  display: none;
}

.error{
  margin: 0 auto;
  display: block;
  width: 80%;
  display: none;
}



@media screen and (max-width:375px){
  .carts {
    float: right;
    margin-right: 3rem;
    font-size: 2rem;
  }
   
  .main-screen{
    width: 100%;
  }

  .shoes-left{
    margin: 0 auto;
    width: 300px;
  }

}

.modal > div{
  width: 400px !important;
}

.total{
  position: absolute;
  left: 12px;
  font-size: 120%;
  font-weight: 700;
}